In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data/points_tmw.csv")
df.head()

,idTransacao,idUsuario,dtTransacao,qtdPontos,descProduto,descCategoriaProduto,DataTransacao
0,83d52c4a-8585-4896-bbf3-9d9c9e885f7f,c4ade77c-f395-4d22-93c3-7a8031df9c6f,2024-11-08 12:34:58,1,ChatMessage,chat,08/11/2024
1,64feebd3-70d1-42f5-ba90-3d89e12b7e98,65662aff-44d6-4f06-b9d9-07445c6e5943,2024-01-31 12:02:10,1,ChatMessage,chat,31/01/2024
2,e242114e-3cb1-41a0-b16b-d7ecb04365c9,a7649e0c-92dd-42fe-bb36-d6f0aaaa8638,2024-03-26 12:34:32,1,ChatMessage,chat,26/03/2024
3,35f3adc9-9d9b-464b-8c53-c96537b2f573,1856963a-84cb-453e-a139-eb7d8d9b3255,2024-12-10 11:36:37,50,Lista de presença,present,10/12/2024
4,8cd5864e-401d-4e84-be85-af90bc3f7feb,65662aff-44d6-4f06-b9d9-07445c6e5943,2024-05-23 11:50:09,1,ChatMessage,chat,23/05/2024

In [19]:
print(f'Mínimo: {df["qtdPontos"].min()}')
print(f'Máximo: {df["qtdPontos"].max()}')
print(f'Média: {round(df["qtdPontos"].mean(),2)}')
print(f'1º Quartil: {df["qtdPontos"].quantile()}')
print(f'Mediana: {df["qtdPontos"].median()}')
print(f'3º Quartil: {df["qtdPontos"].quantile(0.75)}')

Mínimo: -1000
Máximo: 1000
Média: 5.14
1º Quartil: 1.0
Mediana: 1.0
3º Quartil: 1.0